/* Fixed with A0 layout */
@page {
	size: A0 portrait;
}

@media screen {
	body {
		background: #333333;
	}

	#page {
		width: 841mm;
		height: 1189mm;
		background: #ffffff;
		display: block;
		margin: 2em auto 2em auto;
		position: relative;
		box-shadow: 0 0 2em 0 rgba(0,0,0,0.9);
	}
}

@media print {
	body, #page {
		margin: 0;
	}
}

/* Typography */
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
}

/* KU Header */
#ku {
	border-bottom: 1mm solid #000000;
	height: 70mm;
	padding: 40mm;
}

#ku_logo {
	display: block;
	height: 135mm;
	position: absolute;
	right: 40mm;
	top: 25mm;
}

#ku h1, #ku h2 {
	color: #666666;
	font-family: 'Adobe Garamond Pro', 'EB Garamond', serif;
	font-weight: 400;
	letter-spacing: 0.25em;
	line-height: 1.5;
	margin: 0;
	max-width: 80%;
	padding: 0;
	text-transform: uppercase;
}
#ku h1 { font-size: 36pt; }
#ku h2 { font-size: 30pt; }

/* Body */

#body {
	column-gap: 20mm;
	display: grid;
	font-size: 24pt;
	grid-template-rows: 2fr 1fr;
	height: 887mm;
}

#map {
	background-image: url('figures/map.png');
	background-size: 100%;
	grid-row: 1;
	width: 100%;
}

#map h1 {
	font-size: 72pt;
	padding: 0 40mm;
}

#location {
	border: 0mm solid #000000;
	float: right;
	margin: 20mm 40mm 0 0;
	box-shadow: 1mm 1mm #000000;
	height: 120mm;
}

#caption {
	color: #999999;
	font-size: 18pt;
	position: absolute;
	top: 655mm;
	left: 40mm;
	width: 240mm;
}

#legend {
	columns: 3;
	list-style-type: none;
	position: absolute;
	top: 650mm;
	right: 40mm;
	margin: 0;
	padding: 0;
}

#legend li {
	border-right: 2mm solid;
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 3mm;
	text-align: right;
	padding: 1mm 3mm;
}

#legend-middlepal { color: #FFFF33; }
#legend-upperpal { color: #A65628; }
#legend-epipal { color: #999999; }
#legend-neolithic { color: #E41A1C; }
#legend-chalco { color: #377EB8; }
#legend-early-prehistoric { color: #FF7F00; }
#legend-late-prehistoric { color: #F781BF; }
#legend-historic { color: #984EA3; }
#legend-na { color: #4DAF4A; }

#text {
	background: #d79921;
	border-top: 1mm solid #000000;
	display: grid;
	grid-row: 2;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20mm;
	padding: 20mm 40mm;
}

#intro { grid-row: 1; grid-column: 1; }
#method { grid-row: 1; grid-column: 2; }
#results { grid-row: 1; grid-column: 3; }

.textbox {
	text-align: justify;
	overflow: auto;
}

.textbox h2 {
	font-size: 36pt;
	text-align: center;
}

.textbox img {
	width: 100%;
}

.textbox p {
	margin: 0;
	padding: 0;
	text-indent: 1em;
}

.textbox p:first-of-type {
	text-indent: 0 !important;
}


/* Footer */
footer {
	border-top: 1mm solid #000000;
	color: #333333;
	display: grid;
	font-size: 18pt;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20mm;
	height: 110mm;
	padding: 20mm 40mm;
	position: absolute;
	bottom: 0;
	width: 761mm;
}

footer #logos { grid-column: 2; }
footer #acknowledgements { grid-column: 1; columns: 2; column-gap: 10mm; }
footer #authors { grid-column: 3; }

footer h2 {
	margin: 0;
	padding: 0;
}

#logos img {
	display: block;
	margin: 0 auto;
}

#logos figure {
	color: #666666;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
	height: 65mm;
	letter-spacing: 0.2em;
	margin: 20mm 0 0 0;
	text-align: center;
	text-transform: uppercase;
}

#davids_logo {
	height: 25mm;
}

#cseas_logo {
	height: 40mm;
}

#acknowledgements {
	text-align: left;
}

#acknowledgements img {
	display: block;
	margin: 0 auto;
	width: 40mm;
}

#authors {
	text-align: right;
}

.author {
	clear: right;
}

#authors img {
	clear: right;
	float: right;
	height: 30mm;
	margin: 0 0 3mm 5mm
}

#authors h2 {
	font-size: 18pt;
	text-transform: uppercase;
}

#authors p, #authors ul {
	font-size: 18pt;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#authors li {
	font-size: 14pt;
	margin: 0;
	padding: 0;
}

